#navegador, .izquierda, .centro, .derecha {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navegador {
    list-style-type: none;
    justify-content: center;
    text-align: center;
 }

 #navegador .item {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 }

 #navegador .home {
     background-color: black;
     border: 2px solid black;
     border-radius: 25px;
     color: white;
     font-family: 'Lato', sans-serif;
     font-size: 16px;
     height: 50px;
     padding: 15px 20px;
     text-decoration: none;
     width: 5%;
 }

.logo, .perfil {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin: 5px;
    width: 30px;
    padding: 10px;
}

.centro input {
    background-color: rgba(0, 0, 0, 0.06);
    /*background-image: mdi-magnify;*/
    border: 0px solid rgba(0, 0, 0, 0.06);
    border-radius: 25px;
    color: rgb(225, 225, 225);
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    height: 50px;
    padding: 0px 20px;
    margin-right: 10px;
    width: 65vw;
    background-image: url('./img/búsqueda.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
    text-indent: 30px;
}

.mdi {
    cursor: pointer;
    color: rgb(118, 118, 118);
    font-size: 30px;
    padding: 5px;
    /* width: 40px;
    height: 40px; */
}

.mdi:hover {
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    padding: 5px;
}

.logo:hover, .perfil:hover{
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    padding: 10px;
}

.centro input:hover {
    background-color: rgb(225, 225, 225);
    background-image: none;
    padding: 0px;
    color: black;
}

.list-container {
    position: relative;
}

.list-items {
    display: none;
    background-color: white;
    list-style: none;
    padding: 15px;
    position: absolute;
    width: 262px;
    height: 383px;
    text-align: left;
    top: 15px;
    right: 15px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgb(225, 225, 225);
    padding: 30px;
    z-index: 2; /*Para que el menú desplegable quede sobre las imágenes*/
}

.item:hover ul, ul:hover {
    display: block;

}

.item li {
    margin: 10px 0px;
  }

.item li a {
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif; 
    font-weight: bold;   
  }
  
.item li a:hover {
    /*text-decoration: underline;*/
    background-color: rgb(235, 235, 235); 
    padding: 3px;      
  }

.text-list {
      font-size: 13px;
      font-family: 'Lato', sans-serif;
      padding-top: 30px;
  }

